* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    font-family: 'Bungee', cursive;
    overflow-x: hidden;
    background-color: #e4c7ff;
}

/*=========================PRUEBAS================================*/
.menu li a {
    display: flex;
    color: #41a9ff;
    text-decoration: none;
    padding: 0px 20px;
    text-align: center;

}

.menu .active {
    color: #ff55e3;
}

.menu a:hover {
    background-color: #d041ff74;
    color: #ffffff;
    transition: ease-in .2s;
}

/*=========================NAVBAR================================*/

.title-span {
    color: rgb(87, 0, 169);
}

.bg-navbar {
    background-color: #c281ff;
}

.d-flex-navbar {
    display: flex;
    justify-content: center;

}

/*=========================MAIN================================*/

/*=========================SLIDER================================*/
.carouser-inner {
    max-height: 39rem;
}

/*=========================UBICACION================================*/
.article-ubicacion {
    width: 100%;
}
/*=========================GALERIA================================*/
#galeria .col-lg-4 {
    margin: 0;
    padding: 25px;
}
#galeria img{
    width: 100%;
    height: 300px ;
}

#galeria img:hover{
    border: 5px solid #ffffff;
}

/*=========================FOOTER================================*/

footer {
    background-color: #c281ff;
    min-height: 100px;
    ;
}
footer p{
    color: #ffffff;
    text-align: center;
}

#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: #ffffff;
}
