*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body{
    font-family: 'Bungee', cursive;
    overflow-x: hidden;
    background-color: #e4c7ff;
    
}

/* GRID */


/* NAVBAR */

.title-span{
    color: rgb(87, 0, 169);
}
.bg-navbar{
    background-color: #d5a8ff;
}
.d-flex-navbar{
    display: flex;
    justify-content: center;
    
}
/* MAIN */

/* SLIDER */
.carouser-inner{
    max-height: 39rem;  
}

/* UBICACION */
.article-ubicacion{
    width: 100%;
}


/*=========================FOOTER================================*/

footer {
    background-color: #c281ff;
    min-height: 100px;;
}
.logo{
    list-style: none;
    text-decoration: none;
}

